<!DOCTYPE html>
<html>
<head>
    <title>fusion</title>

    <link rel="stylesheet" type="text/css" media="all" href="/module/fusion.grid/css/main.css" />

    {{fusion.library}}

    {{fusion.assets.javascript}}
</head>

<body>

{{fusion.sample.atom2}}
{{fusion.sample.atom1}}

{{fusion.grid.table}}

{{fusion.assets.string}}
</body>

</html>